@model CarsApp.Data.Models.Brands
<form method="post" asp-action="Create" asp-controller="Brands" asp-antiforgery="true" enctype="multipart/form-data">
    <div class="validation validation-summary-valid" data-valmsg-summary="true">
        <ul>
            <li style="display:none"></li>
        </ul>
    </div>
    <div class="modal-content">
        <div class="modal-header">
            <h4>Добавление новой марки</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>Название:</dt>
                <dd>
                    <input type="text" asp-for="Name"  />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Статус</dt>
                <dd>
                    <input type="checkbox" asp-for="Active" /><br />
                </dd>
            </dl>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Готово" />
            <button class="btn btn-secondary" asp-controller="Home" asp-action="Index">Закрыть</button>
        </div>
    </div>
</form>
